### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
schools_data = ("../Resources/schools_complete.csv") 
students_data = ("../Resources/students_complete.csv")
print (schools_data)
print (students_data)

../Resources/schools_complete.csv
../Resources/students_complete.csv

In [3]:
# Read School Data File and store into Pandas DataFrames
schools_data_df = pd.read_csv(schools_data)
schools_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [4]:
# Read Student Data File and store into Pandas DataFrames
students_data_df = pd.read_csv(students_data)
students_data_df.head(20)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84
10,10,Andrew Alexander,M,10th,Huang High School,90,70
11,11,Daniel Cooper,M,10th,Huang High School,78,77
12,12,Brittney Walker,F,9th,Huang High School,64,79
13,13,William Long,M,9th,Huang High School,71,79
14,14,Tammy Hebert,F,10th,Huang High School,85,67
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88
16,16,Donald Zamora,M,9th,Huang High School,88,55
17,17,Kimberly Santiago,F,9th,Huang High School,74,75
18,18,Kevin Stevens,M,9th,Huang High School,64,69
19,19,Brandi Lyons,F,9th,Huang High School,89,80

In [5]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(left=students_data_df, right=schools_data_df, how="left", left_on="school_name", right_on="school_name")
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [6]:
  # Create a District Summary
# Grouped Data
grouped_data = school_data_complete.groupby('school_name')
# Summary Statistics
grouped_data.describe()

                      Student ID                                           \
                           count     mean          std      min       25%
school_name
Bailey High School        4976.0  20358.5  1436.591800  17871.0  19114.75
Cabrera High School       1858.0  16941.5   536.502718  16013.0  16477.25
Figueroa High School      2949.0   4391.0   851.447297   2917.0   3654.00
Ford High School          2739.0  36165.0   790.825518  34796.0  35480.50
Griffin High School       1468.0  12995.5   423.919411  12262.0  12628.75
Hernandez High School     4635.0   9944.0  1338.153579   7627.0   8785.50
Holden High School         427.0  23060.0   123.408536  22847.0  22953.50
Huang High School         2917.0   1458.0   842.209693      0.0    729.00
Johnson High School       4761.0  32415.0  1374.526646  30035.0  31225.00
Pena High School           962.0  23754.5   277.849780  23274.0  23514.25
Rodriguez High School     3999.0  28035.0  1154.556192  26036.0  27035.50
Shelton High School       1761.0   6746.0   508.501229   5866.0   6306.00
Thomas High School        1635.0  38352.0   472.128161  37535.0  37943.50
Wilson High School        2283.0  14871.0   659.189654  13730.0  14300.50
Wright High School        1800.0  25135.5   519.759560  24236.0  24685.75

                                                  reading_score             \
                           50%       75%      max         count       mean
school_name
Bailey High School     20358.5  21602.25  22846.0        4976.0  81.033963
Cabrera High School    16941.5  17405.75  17870.0        1858.0  83.975780
Figueroa High School    4391.0   5128.00   5865.0        2949.0  81.158020
Ford High School       36165.0  36849.50  37534.0        2739.0  80.746258
Griffin High School    12995.5  13362.25  13729.0        1468.0  83.816757
Hernandez High School   9944.0  11102.50  12261.0        4635.0  80.934412
Holden High School     23060.0  23166.50  23273.0         427.0  83.814988
Huang High School       1458.0   2187.00   2916.0        2917.0  81.182722
Johnson High School    32415.0  33605.00  34795.0        4761.0  80.966394
Pena High School       23754.5  23994.75  24235.0         962.0  84.044699
Rodriguez High School  28035.0  29034.50  30034.0        3999.0  80.744686
Shelton High School     6746.0   7186.00   7626.0        1761.0  83.725724
Thomas High School     38352.0  38760.50  39169.0        1635.0  83.848930
Wilson High School     14871.0  15441.50  16012.0        2283.0  83.989488
Wright High School     25135.5  25585.25  26035.0        1800.0  83.955000

                       ...    size          budget                             \
                       ...     75%     max   count       mean  std        min
school_name            ...
Bailey High School     ...  4976.0  4976.0  4976.0  3124928.0  0.0  3124928.0
Cabrera High School    ...  1858.0  1858.0  1858.0  1081356.0  0.0  1081356.0
Figueroa High School   ...  2949.0  2949.0  2949.0  1884411.0  0.0  1884411.0
Ford High School       ...  2739.0  2739.0  2739.0  1763916.0  0.0  1763916.0
Griffin High School    ...  1468.0  1468.0  1468.0   917500.0  0.0   917500.0
Hernandez High School  ...  4635.0  4635.0  4635.0  3022020.0  0.0  3022020.0
Holden High School     ...   427.0   427.0   427.0   248087.0  0.0   248087.0
Huang High School      ...  2917.0  2917.0  2917.0  1910635.0  0.0  1910635.0
Johnson High School    ...  4761.0  4761.0  4761.0  3094650.0  0.0  3094650.0
Pena High School       ...   962.0   962.0   962.0   585858.0  0.0   585858.0
Rodriguez High School  ...  3999.0  3999.0  3999.0  2547363.0  0.0  2547363.0
Shelton High School    ...  1761.0  1761.0  1761.0  1056600.0  0.0  1056600.0
Thomas High School     ...  1635.0  1635.0  1635.0  1043130.0  0.0  1043130.0
Wilson High School     ...  2283.0  2283.0  2283.0  1319574.0  0.0  1319574.0
Wright High School     ...  1800.0  1800.0  1800.0  1049400.0  0.0  1049400.0


                             25%        50%        75%        max
school_name
Bailey High School     3124928.0  3124928.0  3124928.0  3124928.0
Cabrera High School    1081356.0  1081356.0  1081356.0  1081356.0
Figueroa High School   1884411.0  1884411.0  1884411.0  1884411.0
Ford High School       1763916.0  1763916.0  1763916.0  1763916.0
Griffin High School     917500.0   917500.0   917500.0   917500.0
Hernandez High School  3022020.0  3022020.0  3022020.0  3022020.0
Holden High School      248087.0   248087.0   248087.0   248087.0
Huang High School      1910635.0  1910635.0  1910635.0  1910635.0
Johnson High School    3094650.0  3094650.0  3094650.0  3094650.0
Pena High School        585858.0   585858.0   585858.0   585858.0
Rodriguez High School  2547363.0  2547363.0  2547363.0  2547363.0
Shelton High School    1056600.0  1056600.0  1056600.0  1056600.0
Thomas High School     1043130.0  1043130.0  1043130.0  1043130.0
Wilson High School     1319574.0  1319574.0  1319574.0  1319574.0
Wright High School     1049400.0  1049400.0  1049400.0  1049400.0

[15 rows x 48 columns]

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [7]:
# Explore Data
schools_data_complete_df = school_data_complete
schools_data_complete_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [8]:
# Total Schools
total_schools = (schools_data_complete_df['school_name']).nunique()
total_schools

15

In [9]:
# Total Students
total_students = (schools_data_complete_df['Student ID']).nunique()
total_students

39170

In [10]:
# Total Budget
total_budget = schools_data_complete_df['budget'].unique().sum()
total_budget

24649428

In [11]:
# Average Math Score
avg_math_score = schools_data_complete_df['math_score'].mean()
avg_math_score

78.98537145774827

In [12]:
# Average Reading Score
avg_reading_score = schools_data_complete_df['reading_score'].mean()
avg_reading_score

81.87784018381414

In [13]:
# Passing Math Percentage
passing_math = 100*len(schools_data_complete_df[schools_data_complete_df['math_score']>=70]) / total_students
#https://blog.softhints.com/pandas-count-percentage-value-column/
#passing_math_percent100 = passing_math.value_counts(normalize=True).mul(100).round(1).astype(str) + '%'
#gives the same answer but with the percentage true and percentage false
passing_math

74.9808526933878

In [14]:
# Passing Reading Percentage
passing_reading = 100*len(schools_data_complete_df[schools_data_complete_df['reading_score']>=70]) / total_students
#https://blog.softhints.com/pandas-count-percentage-value-column/
#passing_reading_percent100 = passing_reading.value_counts(normalize=True).mul(100).round(1).astype(str) + '%'
#gives the same answer but with the percentage true and percentage false
passing_reading

85.80546336482001

In [15]:
#Overall Passing Percentage
overall_passing = (passing_math / passing_reading) / 2
over_all_rate = (overall_passing) * 100
over_all_rate

43.692353466230294

In [16]:
district_summary = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [avg_math_score],
    "Average Reading Score" : [avg_reading_score],
    "% Passing Math": [passing_math],
    "% Passing Reading": [passing_reading],
    "% Overall Passing": [over_all_rate]},  
    columns=["Total Schools", "Total Students", "Total Budget", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"])

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,43.692353

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [17]:
#School Names
grouped_school_names = school_data_complete.groupby('school_name')
grouped_school_names

In [18]:
#School Type 
school_type = grouped_school_names['type'].unique().str[0] 
school_type

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [19]:
#Total Students in Each School
school_students = (grouped_school_names['Student ID']).count()
school_students

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [20]:
# Total budget for each school
schools_budget = (grouped_school_names['budget']).unique()
schools_budget

school_name
Bailey High School       [3124928]
Cabrera High School      [1081356]
Figueroa High School     [1884411]
Ford High School         [1763916]
Griffin High School       [917500]
Hernandez High School    [3022020]
Holden High School        [248087]
Huang High School        [1910635]
Johnson High School      [3094650]
Pena High School          [585858]
Rodriguez High School    [2547363]
Shelton High School      [1056600]
Thomas High School       [1043130]
Wilson High School       [1319574]
Wright High School       [1049400]
Name: budget, dtype: object

In [21]:
# School expenditures per student
per_student_budget = schools_budget / school_students
per_student_budget

school_name
Bailey High School       [628.0]
Cabrera High School      [582.0]
Figueroa High School     [639.0]
Ford High School         [644.0]
Griffin High School      [625.0]
Hernandez High School    [652.0]
Holden High School       [581.0]
Huang High School        [655.0]
Johnson High School      [650.0]
Pena High School         [609.0]
Rodriguez High School    [637.0]
Shelton High School      [600.0]
Thomas High School       [638.0]
Wilson High School       [578.0]
Wright High School       [583.0]
dtype: object

In [22]:
#Average Math Score per School
school_avg_math_score = grouped_school_names['math_score'].mean()
school_avg_math_score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [23]:
#Average reading Score per School
school_avg_reading_score = grouped_school_names['reading_score'].mean()
school_avg_reading_score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [32]:
# Students Passing math totals by school
#school_math_pass = 100*len(schools_data_complete_df[schools_data_complete_df['reading_score']>=70]) / total_students

passing_math_df = schools_data_complete_df[schools_data_complete_df['math_score']>=70]

perc_passing_math_df = (passing_math_df.groupby('school_name').count()['math_score'] / school_students)*100

perc_passing_math_df

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [34]:
# Passing reading totals by school
passing_reading_df = schools_data_complete_df[schools_data_complete_df['reading_score']>=70]

perc_passing_reading_df = (passing_reading_df.groupby('school_name').count()['reading_score'] / school_students)*100

perc_passing_reading_df

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [37]:
#Passing math percentage by school
overall_sch_avg = perc_passing_math_df / perc_passing_reading_df
over_all_sch_avg = (overall_sch_avg) * 100
over_all_sch_avg

school_name
Bailey High School       81.383370
Cabrera High School      97.004992
Figueroa High School     81.730365
Ford High School         86.141805
Griffin High School      96.143058
Hernandez High School    82.550694
Holden High School       96.107056
Huang High School        80.775717
Johnson High School      81.329196
Pena High School         98.591549
Rodriguez High School    82.730673
Shelton High School      97.926540
Thomas High School       95.851666
Wilson High School       97.232305
Wright High School       96.607246
dtype: float64

In [ ]:
# School Summary
school_summary = pd.DataFrame({
    "School Name": [grouped_school_names],
    "School Type": [school_type],
    "Total Students": [school_students],
    "Total School Budget": [avg_math_score],
    "Per Student Budget" : [schools_budget]
    "Average Math Score" : [school_avg_math_score],
    "Average Reading Score" : [school_avg_reading_score],
    "% Passing Math": [perc_passing_math_df],
    "% Passing Reading": [perc_passing_reading_df],
    "% Overall Passing": [over_all_sch_avg]},  
    columns=["School Name", "School Type", "Total Students", "Total School Budget", "Per Student Budget", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"])

school_summary

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type