### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [118]:
# Dependencies and Setup
import pandas as pd
import numpy as np
from glob import glob

In [119]:
# File to Load (Remember to Change These)
schools_data = ("../Resources/schools_complete.csv") 
students_data = ("../Resources/students_complete.csv")
print (schools_data)
print (students_data)

../Resources/schools_complete.csv
../Resources/students_complete.csv

In [120]:
# Read School Data File and store into Pandas DataFrames
schools_data_df = pd.read_csv(schools_data)
schools_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [121]:
# Read Student Data File and store into Pandas DataFrames
students_data_df = pd.read_csv(students_data)
students_data_df.head(20)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84
10,10,Andrew Alexander,M,10th,Huang High School,90,70
11,11,Daniel Cooper,M,10th,Huang High School,78,77
12,12,Brittney Walker,F,9th,Huang High School,64,79
13,13,William Long,M,9th,Huang High School,71,79
14,14,Tammy Hebert,F,10th,Huang High School,85,67
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88
16,16,Donald Zamora,M,9th,Huang High School,88,55
17,17,Kimberly Santiago,F,9th,Huang High School,74,75
18,18,Kevin Stevens,M,9th,Huang High School,64,69
19,19,Brandi Lyons,F,9th,Huang High School,89,80

In [122]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(left=students_data_df, right=schools_data_df, how="left", left_on="school_name", right_on="school_name")
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [123]:
# Clean the Data
print(school_data_complete.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39170 entries, 0 to 39169
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student ID     39170 non-null  int64
 1   student_name   39170 non-null  object
 2   gender         39170 non-null  object
 3   grade          39170 non-null  object
 4   school_name    39170 non-null  object
 5   reading_score  39170 non-null  int64
 6   math_score     39170 non-null  int64
 7   School ID      39170 non-null  int64
 8   type           39170 non-null  object
 9   size           39170 non-null  int64
 10  budget         39170 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.6+ MB
None

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [128]:
# Explore Data
school_data_complete = school_data_complete
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [129]:
# Total Schools
total_schools = (school_data_complete['school_name']).nunique()

In [166]:
# Total Students
total_students = (school_data_complete['Student ID']).sum()

In [167]:
# Total Budget
total_budget = school_data_complete['budget'].sum()

In [168]:
# Average Math Score
avg_math_score = school_data_complete['math_score'].mean()

In [169]:
# Average Reading Score
avg_reading_score = school_data_complete['reading_score'].mean()

In [170]:
# Passing Math Percentage
passing_math = 100*len(school_data_complete[school_data_complete['math_score']>=70]) / total_students
#https://blog.softhints.com/pandas-count-percentage-value-column/
#passing_math_percent100 = passing_math.value_counts(normalize=True).mul(100).round(1).astype(str) + '%'
#gives the same answer but with the percentage true and percentage false

In [171]:
# Passing Reading Percentage
passing_reading = 100*len(school_data_complete[school_data_complete['reading_score']>=70]) / total_students
#https://blog.softhints.com/pandas-count-percentage-value-column/
#passing_reading_percent100 = passing_reading.value_counts(normalize=True).mul(100).round(1).astype(str) + '%'
#gives the same answer but with the percentage true and percentage false

In [172]:
#Overall Passing Percentage
overall_passing = (passing_math / passing_reading) / 2
over_all_rate = (overall_passing) * 100

In [173]:
district_summary = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [avg_math_score],
    "Average Reading Score" : [avg_reading_score],
    "% Passing Math": [passing_math],
    "% Passing Reading": [passing_reading],
    "% Overall Passing": [over_all_rate]},  
    columns=["Total Schools", "Total Students", "Total Budget", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"])

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,767124865,82932329558,78.985371,81.87784,0.003829,0.004381,43.692353

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [174]:
#School Names
grouped_school_names = school_data_complete.groupby('school_name')
grouped_school_names

In [175]:
#School Type 
school_type = grouped_school_names['type'].unique().str[0]

In [192]:
#Total Students in Each School
school_students = (grouped_school_names['Student ID']).count()
school_students

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [193]:
# Total budget for each school
schools_budget = (grouped_school_names['budget']).unique()

In [194]:
# School expenditures per student
per_student_budget = schools_budget / school_students
per_student_budget

school_name
Bailey High School       [628.0]
Cabrera High School      [582.0]
Figueroa High School     [639.0]
Ford High School         [644.0]
Griffin High School      [625.0]
Hernandez High School    [652.0]
Holden High School       [581.0]
Huang High School        [655.0]
Johnson High School      [650.0]
Pena High School         [609.0]
Rodriguez High School    [637.0]
Shelton High School      [600.0]
Thomas High School       [638.0]
Wilson High School       [578.0]
Wright High School       [583.0]
dtype: object

In [195]:
#Average Math Score per School
school_avg_math_score = grouped_school_names['math_score'].mean()

In [196]:
#Average reading Score per School
school_avg_reading_score = grouped_school_names['reading_score'].mean()

In [197]:
# Students Passing math totals by school
#school_math_pass = 100*len(schools_data_complete_df[schools_data_complete_df['reading_score']>=70]) / total_students

passing_math_df = school_data_complete[school_data_complete['math_score']>=70]

perc_passing_math_df = (passing_math_df.groupby('school_name').count()['math_score'] / school_students)*100

In [198]:
# Passing reading totals by school
passing_reading_df = school_data_complete[school_data_complete['reading_score']>=70]

perc_passing_reading_df = (passing_reading_df.groupby('school_name').count()['reading_score'] / school_students)*100

In [199]:
#Passing math percentage by school
over_all_sch_avg = (perc_passing_math_df / perc_passing_reading_df) * 100

In [200]:
# School Summary
grouped_school_names_df = pd.DataFrame({
    "School Type": school_type,
    "Total Students": school_students,
    "Total School Budget": schools_budget,
    "Per Student Budget": per_student_budget,
    "Average Math Score": school_avg_math_score,
    "Average Reading Score": school_avg_reading_score,
    "% Passing Math": perc_passing_math_df,
    "% Passing Reading": perc_passing_reading_df,
    "% Overall Passing": over_all_sch_avg,},  
    columns=["School Type", "Total Students", "Total School Budget", "Per Student Budget", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"])

grouped_school_names_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,[3124928],[628.0],77.048432,81.033963,66.680064,81.933280,81.383370
Cabrera High School,Charter,1858,[1081356],[582.0],83.061895,83.975780,94.133477,97.039828,97.004992
Figueroa High School,District,2949,[1884411],[639.0],76.711767,81.158020,65.988471,80.739234,81.730365
Ford High School,District,2739,[1763916],[644.0],77.102592,80.746258,68.309602,79.299014,86.141805
Griffin High School,Charter,1468,[917500],[625.0],83.351499,83.816757,93.392371,97.138965,96.143058
Hernandez High School,District,4635,[3022020],[652.0],77.289752,80.934412,66.752967,80.862999,82.550694
Holden High School,Charter,427,[248087],[581.0],83.803279,83.814988,92.505855,96.252927,96.107056
Huang High School,District,2917,[1910635],[655.0],76.629414,81.182722,65.683922,81.316421,80.775717
Johnson High School,District,4761,[3094650],[650.0],77.072464,80.966394,66.057551,81.222432,81.329196
Pena High School,Charter,962,[585858],[609.0],83.839917,84.044699,94.594595,95.945946,98.591549
Rodriguez High School,District,3999,[2547363],[637.0],76.842711,80.744686,66.366592,80.220055,82.730673
Shelton High School,Charter,1761,[1056600],[600.0],83.359455,83.725724,93.867121,95.854628,97.926540
Thomas High School,Charter,1635,[1043130],[638.0],83.418349,83.848930,93.272171,97.308869,95.851666
Wilson High School,Charter,2283,[1319574],[578.0],83.274201,83.989488,93.867718,96.539641,97.232305
Wright High School,Charter,1800,[1049400],[583.0],83.682222,83.955000,93.333333,96.611111,96.607246

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [201]:
#grouped_school_names_df.nlargest(5, '% Overall Pass', 'first')
grouped_school_names_df.sort_values('% Overall Passing', ascending=False).head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Pena High School,Charter,962,[585858],[609.0],83.839917,84.044699,94.594595,95.945946,98.591549
Shelton High School,Charter,1761,[1056600],[600.0],83.359455,83.725724,93.867121,95.854628,97.926540
Wilson High School,Charter,2283,[1319574],[578.0],83.274201,83.989488,93.867718,96.539641,97.232305
Cabrera High School,Charter,1858,[1081356],[582.0],83.061895,83.975780,94.133477,97.039828,97.004992
Wright High School,Charter,1800,[1049400],[583.0],83.682222,83.955000,93.333333,96.611111,96.607246

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [202]:
# grouped_school_names_df.nlargest(5, '% Overall Pass', 'last')
#bps = over_all_sch_avg.min
#bps
grouped_school_names_df.sort_values('% Overall Passing', ascending=True).head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Huang High School,District,2917,[1910635],[655.0],76.629414,81.182722,65.683922,81.316421,80.775717
Johnson High School,District,4761,[3094650],[650.0],77.072464,80.966394,66.057551,81.222432,81.329196
Bailey High School,District,4976,[3124928],[628.0],77.048432,81.033963,66.680064,81.933280,81.383370
Figueroa High School,District,2949,[1884411],[639.0],76.711767,81.158020,65.988471,80.739234,81.730365
Hernandez High School,District,4635,[3022020],[652.0],77.289752,80.934412,66.752967,80.862999,82.550694

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [86]:
ninth_grade = school_data_complete[school_data_complete['grade']=='9th'].groupby('school_name')
ninth_grade.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
37537,37537,Erik Snyder,M,9th,Thomas High School,80,90,14,Charter,1635,1043130
37538,37538,Tanya Martinez,F,9th,Thomas High School,71,69,14,Charter,1635,1043130
37539,37539,Noah Erickson,M,9th,Thomas High School,86,76,14,Charter,1635,1043130
37540,37540,Austin Meyer,M,9th,Thomas High School,73,96,14,Charter,1635,1043130
37543,37543,Madison Hampton,F,9th,Thomas High School,82,73,14,Charter,1635,1043130

In [87]:
tenth_grade = school_data_complete[school_data_complete['grade']=='10th'].groupby('school_name')
tenth_grade.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
37535,37535,Norma Mata,F,10th,Thomas High School,76,76,14,Charter,1635,1043130
37541,37541,Eric Stevens,M,10th,Thomas High School,80,76,14,Charter,1635,1043130
37544,37544,Jacqueline Harris,F,10th,Thomas High School,71,92,14,Charter,1635,1043130
37545,37545,Christopher Shaw,M,10th,Thomas High School,84,68,14,Charter,1635,1043130
37548,37548,Brian Moss,M,10th,Thomas High School,70,97,14,Charter,1635,1043130

In [88]:
eleventh_grade = school_data_complete[school_data_complete['grade']=='11th'].groupby('school_name')
eleventh_grade.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
37536,37536,Cody Miller,M,11th,Thomas High School,84,82,14,Charter,1635,1043130
37542,37542,Elizabeth Bennett,F,11th,Thomas High School,91,94,14,Charter,1635,1043130
37549,37549,Christopher Martinez,M,11th,Thomas High School,70,68,14,Charter,1635,1043130
37554,37554,Rebecca Brown,F,11th,Thomas High School,76,77,14,Charter,1635,1043130
37555,37555,Chad Martin,M,11th,Thomas High School,72,82,14,Charter,1635,1043130

In [89]:
twelth_grade = school_data_complete[school_data_complete['grade']=='12th'].groupby('school_name')
twelth_grade.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
37546,37546,Steven Hoover MD,M,12th,Thomas High School,90,81,14,Charter,1635,1043130
37547,37547,Amanda Hicks,F,12th,Thomas High School,77,74,14,Charter,1635,1043130
37551,37551,Nancy Mason,F,12th,Thomas High School,91,86,14,Charter,1635,1043130
37570,37570,Victoria Brown,F,12th,Thomas High School,87,95,14,Charter,1635,1043130
37571,37571,Michael Murphy,M,12th,Thomas High School,74,86,14,Charter,1635,1043130

In [90]:
math_scores_df = pd.DataFrame({
    '9th': ninth_grade['math_score'].mean(),
    '10th': tenth_grade['math_score'].mean(),
    '11th': eleventh_grade['math_score'].mean(),
    '12th': twelth_grade['math_score'].mean()},
    columns=['9th', '10th', '11th', '12th'])

math_scores_df

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [91]:
reading_scores_df = pd.DataFrame({
    '9th': ninth_grade['reading_score'].mean(),
    '10th': tenth_grade['reading_score'].mean(),
    '11th': eleventh_grade['reading_score'].mean(),
    '12th': twelth_grade['reading_score'].mean()},
    columns=['9th', '10th', '11th', '12th'])

reading_scores_df

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [92]:
# Create per student spending bins
spending_bins = [0, 580, 610, 640, 670]
group_spending = ['0  to  580', '581 to 610', '611 to 640', '641 to 670']


# Calculate budget columns
grouped_school_names_df['Spending Ranges'] = pd.cut(per_student_budget, bins=spending_bins, labels=group_spending)
grouped_school_names_df.head()

# Group school data
spending_math_avg = grouped_school_names_df.groupby(['Spending Ranges'])['Average Math Score'].mean()
spending_reading_avg = grouped_school_names_df.groupby(['Spending Ranges'])['Average Reading Score'].mean()

# Spending Math Average
spending_math_pass = grouped_school_names_df.groupby(['Spending Ranges'])['% Passing Math'].mean()                                                                                                        
                                                                                                             
# Spending Reading Average
spending_reading_pass = grouped_school_names_df.groupby(['Spending Ranges'])['% Passing Reading'].mean()   

# Overall Spending/Passing Rate
overall_spending_pass = (spending_math_pass + spending_reading_pass)/2

# Scores by School Spending Summary
school_spending_summary_df = pd.DataFrame({
    'Average Math Score': spending_math_avg,
    'Average Reading Score': spending_reading_avg,
    '% Passing Math': spending_math_pass,
    '% Passing Reading': spending_reading_pass,
    'Overall Passing Rate': (overall_spending_pass)},
columns=['Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', 'Overall Passing Rate']
)

school_spending_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Spending Ranges,,,,,
0 to 580,83.274201,83.989488,93.867718,96.539641,95.203679
581 to 610,83.549353,83.903238,93.686876,96.340888,95.013882
611 to 640,79.474551,82.120471,77.139934,87.468080,82.304007
641 to 670,77.023555,80.957446,66.701010,80.675217,73.688113

## Scores by School Size

* Perform the same operations as above, based on school size.

In [206]:
# Create per school size spending bins
size_bins = [0, 1000, 2000, 5000]
group_size = ["small(0 to 1000)", "Medium(1000 to 2000)", "Large(2000 to 5000)"]


# Calculate size columns
school_size_df = grouped_school_names_df
school_size_df['School Size'] = pd.cut(school_students, bins=size_bins, labels=group_size)
school_size_df

# Group school data
size_math_avg = school_size_df.groupby(['School Size'])['Average Math Score'].mean()
size_reading_avg = school_size_df.groupby(['School Size'])['Average Reading Score'].mean()

# Size Math Average
size_math_pass = school_size_df.groupby(['School Size'])['% Passing Math'].mean()                                                                                                        
                                                                                                             
# Size Reading Average
size_reading_pass = school_size_df.groupby(['School Size'])['% Passing Reading'].mean()   

# Overall Size/Passing Rate
overall_size_pass = (size_math_pass + size_reading_pass)/2

# Scores by School Size Summary
school_size_summary_df = pd.DataFrame({
    'Average Math Score': size_math_avg,
    'Average Reading Score': size_reading_avg,
    '% Passing Math': size_math_pass,
    '% Passing Reading': size_reading_pass,
    'Overall Passing Rate': (overall_size_pass)},
columns=['Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', 'Overall Passing Rate']
)

school_size_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Size,,,,,
small(0 to 1000),83.821598,83.929843,93.550225,96.099437,94.824831
Medium(1000 to 2000),83.374684,83.864438,93.599695,96.790680,95.195187
Large(2000 to 5000),77.746417,81.344493,69.963361,82.766634,76.364998

## Scores by School Type

* Perform the same operations as above, based on school type

In [209]:
# Create per school type bins: there are only two types 

# Group school data
school_type_group = school_data_complete.groupby('type')
type_total_students = school_type_group['Student ID'].count()
type_math_avg = school_type_group['math_score'].mean()
type_reading_avg = school_type_group['reading_score'].mean()

# School Size Average
type_math_pass = school_data_complete[school_data_complete['math_score']>=70].groupby('type')['math_score'].count()
perc_type_math_pass = (type_math_pass / type_total_students)*100                                                                                                          
                                                                                                             
# School Size Reading Average
type_reading_pass = school_data_complete[school_data_complete['reading_score']>=70].groupby('type')['reading_score'].count()
perc_type_reading_pass = (type_reading_pass / type_total_students)*100     

# Overall School Size Passing Rate
overall_type_pass = (perc_type_math_pass / perc_type_reading_pass)/2

# Scores by School Type Summary
school_type_summary_df = pd.DataFrame({
    'Average Math Score': type_math_avg,
    'Average Reading Score': type_reading_avg,
    '% Passing Math': perc_type_math_pass,
    '% Passing Reading': perc_type_reading_pass,
    'Overall Passing Rate': (overall_type_pass)*100},
columns=['Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', 'Overall Passing Rate']
)

school_type_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
type,,,,,
Charter,83.406183,83.902821,93.701821,96.645891,48.476877
District,76.987026,80.962485,66.518387,80.905249,41.108820